In [16]:
import pandas as pd
import numpy as np

In [17]:
monday_df    = pd.read_csv('./data/monday.csv', sep=';', parse_dates=True, index_col=0)
tuesday_df   = pd.read_csv('./data/tuesday.csv', sep=';', parse_dates=True, index_col=0)
wednesday_df = pd.read_csv('./data/wednesday.csv', sep=';', parse_dates=True, index_col=0)
thusday_df   = pd.read_csv('./data/thursday.csv', sep=';', parse_dates=True, index_col=0)
friday_df    = pd.read_csv('./data/friday.csv', sep=';', parse_dates=True, index_col=0)
monday    = monday_df.copy()
tuesday   = tuesday_df.copy()
wednesday = wednesday_df.copy()
thursday  = thusday_df.copy()
friday    = friday_df.copy()
monday   ['day'] ='monday'
tuesday  ['day'] ='tuesday'
wednesday['day'] ='wednesday'
thursday ['day'] ='thursday'
friday   ['day'] ='friday'

days=[monday, tuesday, wednesday, thursday, friday]

In [18]:
monday_df

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:03:00            2     dairy
2019-09-02 07:04:00            3     dairy
2019-09-02 07:04:00            4     dairy
2019-09-02 07:04:00            5    spices
...                          ...       ...
2019-09-02 21:49:00         1442  checkout
2019-09-02 21:49:00         1444  checkout
2019-09-02 21:49:00         1445     dairy
2019-09-02 21:50:00         1446     dairy
2019-09-02 21:50:00         1447     fruit

[4884 rows x 2 columns]

In [19]:
def time_step(df):
    df=df.groupby('customer_no').resample('1Min').ffill()
    df = df.drop(columns=['customer_no'])
    df.reset_index(inplace=True)
    return df

In [20]:
def kickout(df):
    for idk in range(1, df['customer_no'].max()+1):
        if df.loc[df['customer_no']==idk, 'location'].iloc[-1] != 'checkout':
            #print(idk)
            temp_df = df.loc[df['customer_no']==idk].iloc[-1].to_frame().T
            temp_df.loc[temp_df['customer_no'] == idk,'location'] = 'checkout'
            df=pd.concat([df, temp_df], ignore_index=True)

In [21]:
def to_from(df):
    monday_df['from'] = monday_df['location']
    monday_df['to']   = monday_df['location'].shift(1)
    monday_df.drop(columns='location')

In [22]:
tm_list=[]
def get_tm(df):
    tm=pd.crosstab(df('from'), df('location'), normalize='index')
    return tm

DOES NOT WORK. YOU SHOULD DIRECTLY to LIST by index
for day in days:
    day=time_step(day)

In [23]:
for i, day in enumerate(days):
    days[i]    = time_step(day)
    days[i]    = kickout(day)
    days[i]    = to_from(day)
    tm_list[i] = get_tm(day)

TypeError: 'DataFrame' object is not callable

In [ ]:
pd.crosstab(test('from'), test('location'), normalize='index')

monday.sort_values(by='customer_no')

In [11]:
get_tm(monday)

TypeError: 'DataFrame' object is not callable

In [26]:
monday

                     customer_no  location     day
timestamp
2019-09-02 07:03:00            1     dairy  monday
2019-09-02 07:03:00            2     dairy  monday
2019-09-02 07:04:00            3     dairy  monday
2019-09-02 07:04:00            4     dairy  monday
2019-09-02 07:04:00            5    spices  monday
...                          ...       ...     ...
2019-09-02 21:49:00         1442  checkout  monday
2019-09-02 21:49:00         1444  checkout  monday
2019-09-02 21:49:00         1445     dairy  monday
2019-09-02 21:50:00         1446     dairy  monday
2019-09-02 21:50:00         1447     fruit  monday

[4884 rows x 3 columns]

In [25]:
tm=pd.crosstab(monday('from'), monday('location'), normalize='index')

TypeError: 'DataFrame' object is not callable

In [10]:
get_tm(monday)
tm_list=[]
def get_tm(df):
    tm=pd.crosstab(df('from'), df('location'), normalize='index')
    return tm

TypeError: 'DataFrame' object is not callable