In [1]:
import pandas as pd
import numpy as np

In [2]:
monday_df    = pd.read_csv('./data/monday.csv', sep=';', parse_dates=True, index_col=0)
tuesday_df   = pd.read_csv('./data/tuesday.csv', sep=';', parse_dates=True, index_col=0)
wednesday_df = pd.read_csv('./data/wednesday.csv', sep=';', parse_dates=True, index_col=0)
thusday_df   = pd.read_csv('./data/thursday.csv', sep=';', parse_dates=True, index_col=0)
friday_df    = pd.read_csv('./data/friday.csv', sep=';', parse_dates=True, index_col=0)
monday    = monday_df.copy()
tuesday   = tuesday_df.copy()
wednesday = wednesday_df.copy()
thursday  = thusday_df.copy()
friday    = friday_df.copy()
monday   ['day'] ='monday'
tuesday  ['day'] ='tuesday'
wednesday['day'] ='wednesday'
thursday ['day'] ='thursday'
friday   ['day'] ='friday'

days=[monday, tuesday, wednesday, thursday, friday]

In [3]:
monday_df.head(1)

                     customer_no location
timestamp
2019-09-02 07:03:00            1    dairy

In [4]:
def time_step(df):
    df=df.groupby('customer_no').resample('1Min').ffill()
    df = df.drop(columns=['customer_no'])
    df.reset_index(inplace=True)
    return df

In [6]:
def to_from(df):
    df['from'] = df['location']
    df['to']   = df['location'].shift(1)
    df.drop(columns='location')
    df.fillna(value='checkout', inplace=True)

In [5]:
def kickout(df):
    for idk in range(1, df['customer_no'].max()+1):
        if df.loc[df['customer_no']==idk, 'location'].iloc[-1] != 'checkout':
            #print(idk)
            temp_df = df.loc[df['customer_no']==idk].iloc[-1].to_frame().T
            temp_df.loc[temp_df['customer_no'] == idk,'location'] = 'checkout'
            
            #temp_df.loc[temp_df['customer_no'] == idk,'timestamp'] = '2019-09-02 07:03:00'
            df=pd.concat([df, temp_df], ignore_index=True)

In [7]:
tm_list=[]
def get_tm(df):
    pd.crosstab(monday['to'], monday['from'], normalize='index')
    return tm

DOES NOT WORK. YOU SHOULD DIRECTLY to LIST by index
for day in days:
    day=time_step(day)

In [8]:
for i, day in enumerate(days):
    days[i]    = time_step(day)
    days[i]    = kickout(day)
    days[i]    = to_from(day)
    #tm_list[i] = get_tm(day)

In [9]:
monday

                     customer_no  location     day      from        to
timestamp
2019-09-02 07:03:00            1     dairy  monday     dairy  checkout
2019-09-02 07:03:00            2     dairy  monday     dairy     dairy
2019-09-02 07:04:00            3     dairy  monday     dairy     dairy
2019-09-02 07:04:00            4     dairy  monday     dairy     dairy
2019-09-02 07:04:00            5    spices  monday    spices     dairy
...                          ...       ...     ...       ...       ...
2019-09-02 21:49:00         1442  checkout  monday  checkout    spices
2019-09-02 21:49:00         1444  checkout  monday  checkout  checkout
2019-09-02 21:49:00         1445     dairy  monday     dairy  checkout
2019-09-02 21:50:00         1446     dairy  monday     dairy     dairy
2019-09-02 21:50:00         1447     fruit  monday     fruit     dairy

[4884 rows x 5 columns]

In [10]:
pd.crosstab(monday['to'], monday['from'], normalize='index')

from      checkout     dairy    drinks     fruit    spices
to
checkout  0.336579  0.171766  0.166203  0.191238  0.134214
dairy     0.259218  0.188827  0.174302  0.211173  0.166480
drinks    0.293601  0.168130  0.165621  0.207026  0.165621
fruit     0.273904  0.191235  0.151394  0.223108  0.160359
spices    0.282667  0.204000  0.157333  0.202667  0.153333

monday.sort_values(by='customer_no')

In [11]:
get_tm(monday)

NameError: name 'tm' is not defined

In [ ]:
monday

In [ ]:
tm=pd.crosstab(monday('from'), monday('location'), normalize='index')

In [ ]:
get_tm(monday)
tm_list=[]
def get_tm(df):
    tm=pd.crosstab(df('from'), df('location'), normalize='index')
    return tm