In [10]:
import pandas as pd
import numpy as np

In [68]:
main_df = pd.read_csv('/home/elendar/spicy/binomial-baharat-encounter-notes/week08/data/tuesday.csv', sep=';', parse_dates=True, index_col=0)
df = main_df.copy()

In [69]:
df.head(10)

                     customer_no location
timestamp
2019-09-03 07:02:00            1    fruit
2019-09-03 07:02:00            2   drinks
2019-09-03 07:03:00            3    dairy
2019-09-03 07:05:00            1   drinks
2019-09-03 07:06:00            4    dairy
2019-09-03 07:06:00            5    dairy
2019-09-03 07:07:00            6    dairy
2019-09-03 07:07:00            7    dairy
2019-09-03 07:07:00            8    dairy
2019-09-03 07:08:00            4   spices

df.groupby('customer_no').

df.groupby('customer_no').first()

In [70]:
df=df.groupby('customer_no').resample('1Min').ffill()

In [71]:
df = df.drop(columns=['customer_no'])

In [72]:
df.reset_index(inplace=True)

In [73]:
df.loc[df['customer_no']==1]

    customer_no           timestamp  location
0             1 2019-09-03 07:02:00     fruit
1             1 2019-09-03 07:03:00     fruit
2             1 2019-09-03 07:04:00     fruit
3             1 2019-09-03 07:05:00    drinks
4             1 2019-09-03 07:06:00    drinks
5             1 2019-09-03 07:07:00    drinks
6             1 2019-09-03 07:08:00    drinks
7             1 2019-09-03 07:09:00    drinks
8             1 2019-09-03 07:10:00    drinks
9             1 2019-09-03 07:11:00    drinks
10            1 2019-09-03 07:12:00  checkout

In [88]:
df[df['customer_no']==182]

      customer_no           timestamp  location
1410          182 2019-09-03 08:32:00     dairy
1411          182 2019-09-03 08:33:00     dairy
1412          182 2019-09-03 08:34:00    spices
1413          182 2019-09-03 08:35:00    spices
1414          182 2019-09-03 08:36:00    spices
1415          182 2019-09-03 08:37:00    drinks
1416          182 2019-09-03 08:38:00  checkout

In [85]:
df['customer_no'].max()

1422

In [87]:
for idk in range(1, df['customer_no'].max()):
    #print(idk)
    if df.loc[df['customer_no']==idk].iloc[-1]['location'] != 'checkout':
        #print(df.iloc[idk]['timestamp'])
        print(df.iloc[idk])

customer_no                    182
timestamp      2019-09-03 08:33:00
location                     dairy
Name: 1411, dtype: object

In [75]:
sf=df.loc[df['customer_no']==1].iloc[-1]['location']

In [76]:
sf

'checkout'

In [77]:
df2

       customer_no           timestamp  location
0                1 2019-09-02 07:03:00     dairy
1                1 2019-09-02 07:04:00     dairy
2                1 2019-09-02 07:05:00  checkout
3                2 2019-09-02 07:03:00     dairy
4                2 2019-09-02 07:04:00     dairy
...            ...                 ...       ...
10761         1444 2019-09-02 21:49:00  checkout
10762         1445 2019-09-02 21:49:00     dairy
10763         1446 2019-09-02 21:50:00     dairy
10764         1447 2019-09-02 21:50:00     fruit
2                1 2019-09-02 07:05:00  checkout

[10766 rows x 3 columns]

In [78]:
df.drop(columns=['customer_no']).reset_index()

       index           timestamp  location
0          0 2019-09-03 07:02:00     fruit
1          1 2019-09-03 07:03:00     fruit
2          2 2019-09-03 07:04:00     fruit
3          3 2019-09-03 07:05:00    drinks
4          4 2019-09-03 07:06:00    drinks
...      ...                 ...       ...
10118  10118 2019-09-03 21:46:00     fruit
10119  10119 2019-09-03 21:47:00    drinks
10120  10120 2019-09-03 21:48:00  checkout
10121  10121 2019-09-03 21:46:00    spices
10122  10122 2019-09-03 21:47:00     dairy

[10123 rows x 3 columns]

for i in range(0,len(df)):
    if df.loc(['customer_no']==1 ):
        print(df['location'])

In [ ]:
for customer in df.index:
    print(df.loc[1])