In [1]:
import pandas as pd
import numpy as np

In [2]:
#read files
monday = pd.read_csv('monday.csv', sep=';', parse_dates=True, index_col=0)
tuesday = pd.read_csv('tuesday.csv', sep=';', parse_dates=True, index_col=0)
wednesday = pd.read_csv('wednesday.csv', sep=';',parse_dates=True, index_col=0)
thursday = pd.read_csv('thursday.csv', sep=';', parse_dates=True, index_col=0)
friday = pd.read_csv('friday.csv', sep=';', parse_dates=True, index_col=0)

In [3]:
monday

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:03:00            2     dairy
2019-09-02 07:04:00            3     dairy
2019-09-02 07:04:00            4     dairy
2019-09-02 07:04:00            5    spices
...                          ...       ...
2019-09-02 21:49:00         1442  checkout
2019-09-02 21:49:00         1444  checkout
2019-09-02 21:49:00         1445     dairy
2019-09-02 21:50:00         1446     dairy
2019-09-02 21:50:00         1447     fruit

[4884 rows x 2 columns]

In [4]:
tuesday

                     customer_no  location
timestamp
2019-09-03 07:02:00            1     fruit
2019-09-03 07:02:00            2    drinks
2019-09-03 07:03:00            3     dairy
2019-09-03 07:05:00            1    drinks
2019-09-03 07:06:00            4     dairy
...                          ...       ...
2019-09-03 21:47:00         1421    drinks
2019-09-03 21:47:00         1422     dairy
2019-09-03 21:48:00         1421  checkout
2019-09-03 21:49:00         1412  checkout
2019-09-03 21:50:00         1411     dairy

[4714 rows x 2 columns]

In [5]:
monday[monday['customer_no'] == 1]

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:05:00            1  checkout

In [6]:
#add day column and create one dataframe with all data
monday['day'] = 'monday'
tuesday['day'] = 'tuesday'
wednesday['day'] = 'wednesday'
thursday['day'] = 'thursday'
friday['day'] = 'friday'



df =  pd.concat([monday, tuesday, wednesday, thursday, friday])
df.sort_values('customer_no').head()

                     customer_no  location        day
timestamp
2019-09-02 07:03:00            1     dairy     monday
2019-09-05 07:02:00            1  checkout   thursday
2019-09-04 07:02:00            1  checkout  wednesday
2019-09-04 07:00:00            1     fruit  wednesday
2019-09-06 07:00:00            1     dairy     friday

In [7]:
#create customer id column for unique keys
df['customer_id']= df.day + '_' + df.customer_no.astype(str)

In [8]:
df

                     customer_no  location     day  customer_id
timestamp
2019-09-02 07:03:00            1     dairy  monday     monday_1
2019-09-02 07:03:00            2     dairy  monday     monday_2
2019-09-02 07:04:00            3     dairy  monday     monday_3
2019-09-02 07:04:00            4     dairy  monday     monday_4
2019-09-02 07:04:00            5    spices  monday     monday_5
...                          ...       ...     ...          ...
2019-09-06 21:50:00         1500     dairy  friday  friday_1500
2019-09-06 21:50:00         1507  checkout  friday  friday_1507
2019-09-06 21:50:00         1508  checkout  friday  friday_1508
2019-09-06 21:50:00         1509    drinks  friday  friday_1509
2019-09-06 21:50:00         1510    spices  friday  friday_1510

[24877 rows x 4 columns]

In [9]:
df[df.location=='checkout']

                     customer_no  location     day  customer_id
timestamp
2019-09-02 07:05:00            1  checkout  monday     monday_1
2019-09-02 07:05:00            5  checkout  monday     monday_5
2019-09-02 07:06:00            2  checkout  monday     monday_2
2019-09-02 07:06:00            3  checkout  monday     monday_3
2019-09-02 07:07:00            8  checkout  monday     monday_8
...                          ...       ...     ...          ...
2019-09-06 21:47:00         1502  checkout  friday  friday_1502
2019-09-06 21:48:00         1501  checkout  friday  friday_1501
2019-09-06 21:48:00         1504  checkout  friday  friday_1504
2019-09-06 21:50:00         1507  checkout  friday  friday_1507
2019-09-06 21:50:00         1508  checkout  friday  friday_1508

[7417 rows x 4 columns]

In [10]:
#tasks : - we need to consider every minute (each minute one row!)
# --> groupby('customer_no').resample('1Min').ffill()
#       - not every customer left the supermarket (dairy diaries)  
# --> checkout time = 9.59pm    
#       - we need the transition info in the table (from where to where are cust going in probabilities)
# --> transition matrix : a. shift(1) the location column to get the "from" column
#                         b. fillna('checkout') [there is one NaN in the first row]
#.                        c. pd.crosstab(df['from'], df['location'], normalize='index') 
#[split it if you want certain windows of time]

In [11]:
# Get all customers
total_customers = set(df['customer_id']) # use set-method to get a list with customers numbers
print("Total customers: ", len(total_customers))

Total customers:  7445

In [12]:
# Display the number of customers at checkout over time
customers_checkout = set(df.loc[df['location'] == 'checkout', 'customer_id']) # use set-method to get a list with customers numbers
print("Checked out customers: ", len(customers_checkout))

Checked out customers:  7417

In [13]:
# Display the number of customers that didn't checkout
customers_no_checkout = total_customers.difference(customers_checkout) # user difference-method to get a list with the customers numbers
print("Not checked out customers: ", customers_no_checkout)

Not checked out customers:  {'thursday_1533', 'tuesday_1422', 'friday_1509', 'monday_1433', 'tuesday_1411', 'wednesday_1528', 'monday_1439', 'friday_1505', 'thursday_1532', 'monday_1443', 'friday_1510', 'wednesday_1520', 'monday_1446', 'monday_1445', 'monday_1440', 'monday_1430', 'monday_1447', 'wednesday_1527', 'friday_1503', 'wednesday_1530', 'friday_1494', 'friday_1496', 'wednesday_1529', 'friday_1506', 'monday_1441', 'friday_1500', 'thursday_1527', 'monday_1437'}

In [14]:
def add_checkout(df, customer_ids):
    for c_id in customer_ids:
        date= df[df['customer_id']== c_id].index.day[0]
        #c_no = df.loc[df['customer_id']== c_id, 'customer_no'].values[0]
        day = c_id.split("_")[0]
        c_no = c_id.split("_")[1]
        df_tmp = pd.DataFrame(data=[[c_no, 'checkout', day, c_id]], index=[pd.to_datetime(f'2019-09-{date} 21:59:00')], columns=['customer_no', 'location', 'day','customer_id'])
        df = pd.concat([df, df_tmp])
    return df

In [15]:
len(df.customer_id.unique())

7445

In [16]:
df.sort_values('customer_id')

                     customer_no  location        day    customer_id
timestamp
2019-09-06 07:00:00            1     dairy     friday       friday_1
2019-09-06 07:04:00            1    spices     friday       friday_1
2019-09-06 07:05:00            1  checkout     friday       friday_1
2019-09-06 07:06:00           10     fruit     friday      friday_10
2019-09-06 07:11:00           10  checkout     friday      friday_10
...                          ...       ...        ...            ...
2019-09-04 16:59:00          998  checkout  wednesday  wednesday_998
2019-09-04 16:53:00          998     dairy  wednesday  wednesday_998
2019-09-04 16:57:00          998     fruit  wednesday  wednesday_998
2019-09-04 16:54:00          999  checkout  wednesday  wednesday_999
2019-09-04 16:53:00          999     fruit  wednesday  wednesday_999

[24877 rows x 4 columns]

In [17]:
df[df.location=='checkout']

                     customer_no  location     day  customer_id
timestamp
2019-09-02 07:05:00            1  checkout  monday     monday_1
2019-09-02 07:05:00            5  checkout  monday     monday_5
2019-09-02 07:06:00            2  checkout  monday     monday_2
2019-09-02 07:06:00            3  checkout  monday     monday_3
2019-09-02 07:07:00            8  checkout  monday     monday_8
...                          ...       ...     ...          ...
2019-09-06 21:47:00         1502  checkout  friday  friday_1502
2019-09-06 21:48:00         1501  checkout  friday  friday_1501
2019-09-06 21:48:00         1504  checkout  friday  friday_1504
2019-09-06 21:50:00         1507  checkout  friday  friday_1507
2019-09-06 21:50:00         1508  checkout  friday  friday_1508

[7417 rows x 4 columns]

In [18]:
df

                     customer_no  location     day  customer_id
timestamp
2019-09-02 07:03:00            1     dairy  monday     monday_1
2019-09-02 07:03:00            2     dairy  monday     monday_2
2019-09-02 07:04:00            3     dairy  monday     monday_3
2019-09-02 07:04:00            4     dairy  monday     monday_4
2019-09-02 07:04:00            5    spices  monday     monday_5
...                          ...       ...     ...          ...
2019-09-06 21:50:00         1500     dairy  friday  friday_1500
2019-09-06 21:50:00         1507  checkout  friday  friday_1507
2019-09-06 21:50:00         1508  checkout  friday  friday_1508
2019-09-06 21:50:00         1509    drinks  friday  friday_1509
2019-09-06 21:50:00         1510    spices  friday  friday_1510

[24877 rows x 4 columns]

In [19]:
filled_data = []

checkout_customers = set(df.loc[df['location'] == 'checkout', 'customer_id'])
no_checkout_customers = list(total_customers.difference(checkout_customers))

#for i in enumerate(df.customer_id):
#checkout = 
df = add_checkout(df, no_checkout_customers)
df.tail()
#filled_data.append(checkout)

                    customer_no  location       day    customer_id
2019-09-06 21:59:00        1506  checkout    friday    friday_1506
2019-09-02 21:59:00        1441  checkout    monday    monday_1441
2019-09-06 21:59:00        1500  checkout    friday    friday_1500
2019-09-05 21:59:00        1527  checkout  thursday  thursday_1527
2019-09-02 21:59:00        1437  checkout    monday    monday_1437

In [20]:
# Get all customers
total_customers = set(df['customer_id']) # use set-method to get a list with customers numbers
print("Total customers: ", len(total_customers))
# Display the number of customers at checkout over time
customers_checkout = set(df.loc[df['location'] == 'checkout', 'customer_id']) # use set-method to get a list with customers numbers
print("Checked out customers: ", len(customers_checkout))
customers_no_checkout = total_customers.difference(customers_checkout) # user difference-method to get a list with the customers numbers
print("Not checked out customers: ", customers_no_checkout)

Total customers:  7445
Checked out customers:  7445
Not checked out customers:  set()

In [21]:
df

                    customer_no  location       day    customer_id
2019-09-02 07:03:00           1     dairy    monday       monday_1
2019-09-02 07:03:00           2     dairy    monday       monday_2
2019-09-02 07:04:00           3     dairy    monday       monday_3
2019-09-02 07:04:00           4     dairy    monday       monday_4
2019-09-02 07:04:00           5    spices    monday       monday_5
...                         ...       ...       ...            ...
2019-09-06 21:59:00        1506  checkout    friday    friday_1506
2019-09-02 21:59:00        1441  checkout    monday    monday_1441
2019-09-06 21:59:00        1500  checkout    friday    friday_1500
2019-09-05 21:59:00        1527  checkout  thursday  thursday_1527
2019-09-02 21:59:00        1437  checkout    monday    monday_1437

[24905 rows x 4 columns]

In [22]:
set(df.loc[df['location'] == 'checkout', 'customer_id'])

{'wednesday_388',
 'friday_1322',
 'friday_146',
 'thursday_692',
 'monday_171',
 'wednesday_394',
 'wednesday_1209',
 'friday_1443',
 'thursday_1218',
 'monday_684',
 'monday_415',
 'monday_587',
 'monday_999',
 'friday_1364',
 'wednesday_1020',
 'wednesday_593',
 'thursday_997',
 'wednesday_19',
 'wednesday_632',
 'friday_1340',
 'wednesday_1187',
 'thursday_1519',
 'friday_1306',
 'friday_761',
 'thursday_425',
 'wednesday_45',
 'thursday_426',
 'thursday_843',
 'tuesday_1204',
 'thursday_605',
 'tuesday_714',
 'wednesday_749',
 'friday_359',
 'thursday_620',
 'friday_121',
 'monday_1345',
 'friday_48',
 'wednesday_1144',
 'wednesday_716',
 'friday_593',
 'thursday_430',
 'monday_776',
 'monday_1039',
 'wednesday_1230',
 'tuesday_433',
 'wednesday_1222',
 'wednesday_805',
 'friday_1256',
 'tuesday_871',
 'tuesday_1138',
 'wednesday_243',
 'tuesday_187',
 'friday_792',
 'tuesday_336',
 'tuesday_278',
 'tuesday_872',
 'friday_46',
 'friday_130',
 'friday_697',
 'wednesday_704',
 'tuesday_744',
 'friday_401',
 'friday_100',
 'wednesday_1313',
 'monday_659',
 'tuesday_54',
 'friday_872',
 'wednesday_831',
 'thursday_939',
 'wednesday_265',
 'friday_279',
 'thursday_719',
 'friday_656',
 'tuesday_850',
 'thursday_48',
 'tuesday_1261',
 'wednesday_1508',
 'tuesday_505',
 'tuesday_490',
 'thursday_601',
 'wednesday_1029',
 'friday_607',
 'friday_601',
 'thursday_410',
 'thursday_693',
 'monday_665',
 'monday_1018',
 'wednesday_730',
 'tuesday_776',
 'monday_556',
 'wednesday_1012',
 'friday_1157',
 'wednesday_308',
 'monday_104',
 'monday_923',
 'monday_906',
 'tuesday_652',
 'friday_409',
 'monday_681',
 'wednesday_822',
 'thursday_951',
 'tuesday_792',
 'wednesday_1092',
 'monday_1033',
 'friday_660',
 'tuesday_1020',
 'wednesday_149',
 'friday_1444',
 'wednesday_1017',
 'tuesday_691',
 'wednesday_215',
 'wednesday_585',
 'friday_1146',
 'monday_477',
 'wednesday_16',
 'wednesday_599',
 'friday_1123',
 'monday_68',
 'monday_321',
 'monday_1333',
 'thursday_932',
 'monday_21',
 'monday_826',
 'thursday_372',
 'monday_787',
 'wednesday_873',
 'friday_1480',
 'monday_242',
 'wednesday_1370',
 'thursday_228',
 'friday_1194',
 'thursday_1412',
 'wednesday_512',
 'thursday_1110',
 'thursday_356',
 'thursday_982',
 'tuesday_129',
 'thursday_144',
 'tuesday_406',
 'monday_1369',
 'thursday_38',
 'friday_1181',
 'tuesday_1247',
 'monday_236',
 'friday_1024',
 'monday_956',
 'tuesday_878',
 'thursday_360',
 'monday_90',
 'friday_1010',
 'thursday_322',
 'monday_526',
 'tuesday_232',
 'tuesday_49',
 'wednesday_339',
 'wednesday_750',
 'wednesday_263',
 'friday_789',
 'wednesday_1000',
 'monday_1216',
 'wednesday_537',
 'wednesday_117',
 'wednesday_983',
 'friday_817',
 'monday_201',
 'wednesday_1288',
 'thursday_777',
 'thursday_1222',
 'thursday_415',
 'monday_215',
 'thursday_311',
 'tuesday_328',
 'monday_219',
 'friday_1492',
 'tuesday_617',
 'wednesday_1307',
 'wednesday_1208',
 'friday_1385',
 'monday_614',
 'thursday_1102',
 'friday_597',
 'tuesday_862',
 'thursday_403',
 'wednesday_288',
 'monday_166',
 'wednesday_724',
 'thursday_406',
 'thursday_28',
 'wednesday_471',
 'monday_805',
 'thursday_1323',
 'wednesday_421',
 'monday_863',
 'friday_543',
 'tuesday_292',
 'tuesday_1047',
 'tuesday_125',
 'friday_1302',
 'friday_407',
 'monday_291',
 'monday_773',
 'thursday_767',
 'thursday_386',
 'monday_4',
 'wednesday_543',
 'thursday_874',
 'monday_834',
 'friday_1383',
 'monday_724',
 'wednesday_1388',
 'friday_698',
 'friday_927',
 'monday_116',
 'tuesday_1288',
 'tuesday_43',
 'friday_1378',
 'wednesday_278',
 'friday_219',
 'monday_544',
 'monday_814',
 'thursday_154',
 'monday_767',
 'monday_298',
 'thursday_1040',
 'wednesday_643',
 'monday_159',
 'friday_479',
 'thursday_1246',
 'thursday_560',
 'wednesday_946',
 'monday_769',
 'wednesday_467',
 'wednesday_617',
 'thursday_879',
 'thursday_1049',
 'friday_1102',
 'wednesday_827',
 'tuesday_448',
 'tuesday_1313',
 'thursday_462',
 'monday_300',
 'wednesday_15',
 'wednesday_358',
 'wednesday_371',
 'friday_629',
 'tuesday_294',
 'thursday_1513',
 'thursday_917',
 'friday_1399',
 'monday_231',
 'thursday_662',
 'friday_540',
 'thursday_447',
 'wednesday_615',
 'tuesday_60',
 'thursday_479',
 'wednesday_1398',
 'thursday_1085',
 'tuesday_280',
 'monday_670',
 'monday_939',
 'monday_746',
 'tuesday_1081',
 'monday_998',
 'wednesday_1175',
 'wednesday_865',
 'thursday_171',
 'monday_795',
 'thursday_405',
 'wednesday_1156',
 'thursday_904',
 'friday_1278',
 'tuesday_1200',
 'friday_383',
 'thursday_615',
 'wednesday_239',
 'thursday_477',
 'friday_1162',
 'friday_908',
 'wednesday_788',
 'monday_84',
 'thursday_565',
 'thursday_1009',
 'monday_266',
 'monday_1052',
 'thursday_788',
 'tuesday_1163',
 'tuesday_109',
 'thursday_759',
 'tuesday_297',
 'monday_803',
 'tuesday_618',
 'wednesday_976',
 'friday_490',
 'monday_1355',
 'tuesday_1172',
 'monday_81',
 'wednesday_902',
 'thursday_711',
 'thursday_480',
 'tuesday_1148',
 'monday_1183',
 'tuesday_631',
 'tuesday_974',
 'friday_1013',
 'thursday_203',
 'thursday_1511',
 'friday_26',
 'thursday_1014',
 'tuesday_1257',
 'wednesday_622',
 'friday_1223',
 'wednesday_794',
 'monday_1392',
 'monday_836',
 'thursday_285',
 'monday_1043',
 'monday_119',
 'thursday_319',
 'tuesday_1127',
 'thursday_1530',
 'wednesday_1019',
 'monday_1145',
 'monday_947',
 'friday_714',
 'friday_762',
 'thursday_223',
 'tuesday_130',
 'thursday_125',
 'thursday_1248',
 'wednesday_764',
 'thursday_1120',
 'friday_870',
 'thursday_530',
 'thursday_1521',
 'thursday_1230',
 'thursday_12',
 'monday_1085',
 'monday_533',
 'tuesday_735',
 'monday_184',
 'wednesday_1298',
 'friday_1448',
 'wednesday_1279',
 'monday_691',
 'wednesday_138',
 'wednesday_23',
 'wednesday_173',
 'monday_252',
 'monday_1149',
 'monday_1347',
 'monday_485',
 'wednesday_194',
 'monday_1341',
 'thursday_29',
 'monday_1371',
 'friday_582',
 'wednesday_238',
 'tuesday_1061',
 'wednesday_485',
 'friday_1317',
 'thursday_344',
 'wednesday_313',
 'thursday_380',
 'wednesday_64',
 'monday_349',
 'wednesday_596',
 'wednesday_914',
 'thursday_18',
 'thursday_1497',
 'tuesday_135',
 'friday_753',
 'monday_145',
 'tuesday_568',
 'wednesday_290',
 'thursday_1192',
 'tuesday_259',
 'tuesday_602',
 'monday_512',
 'wednesday_205',
 'monday_1291',
 'wednesday_1127',
 'wednesday_118',
 'wednesday_1499',
 'monday_1372',
 'friday_590',
 'friday_1460',
 'friday_267',
 'monday_362',
 'thursday_1501',
 'monday_1243',
 'monday_754',
 'tuesday_96',
 'monday_885',
 'thursday_466',
 'tuesday_715',
 'tuesday_737',
 'thursday_1293',
 'wednesday_1232',
 'wednesday_1287',
 'monday_507',
 'monday_287',
 'friday_1',
 'thursday_376',
 'friday_645',
 'tuesday_21',
 'monday_902',
 'friday_1347',
 'wednesday_889',
 'tuesday_667',
 'wednesday_1',
 'thursday_1047',
 'wednesday_1200',
 'thursday_901',
 'wednesday_222',
 'friday_713',
 'thursday_436',
 'tuesday_553',
 'friday_664',
 'wednesday_568',
 'tuesday_479',
 'wednesday_970',
 'monday_106',
 'wednesday_484',
 'thursday_382',
 'thursday_822',
 'wednesday_78',
 'monday_155',
 'wednesday_1363',
 'tuesday_352',
 'tuesday_1040',
 'friday_689',
 'monday_1119',
 'monday_988',
 'monday_1268',
 'tuesday_1006',
 'thursday_216',
 'friday_82',
 'tuesday_209',
 'thursday_1387',
 'thursday_540',
 'friday_616',
 'friday_1161',
 'thursday_10',
 'wednesday_728',
 'monday_878',
 'wednesday_93',
 'tuesday_1216',
 'wednesday_1117',
 'thursday_1315',
 'monday_198',
 'monday_693',
 'thursday_841',
 'monday_272',
 'friday_1000',
 'wednesday_1479',
 'thursday_1452',
 'wednesday_1347',
 'thursday_1038',
 'friday_59',
 'thursday_639',
 'thursday_497',
 'tuesday_1117',
 'tuesday_489',
 'thursday_41',
 'tuesday_1218',
 'wednesday_1027',
 'thursday_1417',
 'friday_891',
 'thursday_1464',
 'tuesday_521',
 'tuesday_414',
 'tuesday_994',
 'wednesday_261',
 'friday_858',
 'thursday_1039',
 'wednesday_522',
 'monday_328',
 'wednesday_1433',
 'tuesday_1354',
 'monday_625',
 'tuesday_202',
 'wednesday_96',
 'friday_483',
 'monday_1176',
 'wednesday_1319',
 'monday_360',
 'thursday_545',
 'thursday_1460',
 'thursday_1169',
 'monday_577',
 'tuesday_1136',
 'friday_994',
 'monday_1331',
 'thursday_8',
 'tuesday_934',
 'friday_1486',
 'wednesday_1506',
 'thursday_527',
 'thursday_305',
 'friday_1219',
 'wednesday_347',
 'tuesday_152',
 'wednesday_845',
 'friday_1358',
 'tuesday_311',
 'thursday_1294',
 'tuesday_112',
 'wednesday_401',
 'wednesday_37',
 'tuesday_1230',
 'monday_1126',
 'wednesday_514',
 'thursday_800',
 'friday_11',
 'friday_203',
 'tuesday_942',
 'tuesday_666',
 'wednesday_465',
 'tuesday_162',
 'wednesday_1336',
 'wednesday_618',
 'monday_1162',
 'wednesday_949',
 'wednesday_102',
 'thursday_1439',
 'monday_125',
 'monday_690',
 'wednesday_276',
 'wednesday_86',
 'monday_177',
 'tuesday_1019',
 'thursday_184',
 'thursday_513',
 'thursday_926',
 'thursday_1438',
 'friday_976',
 'wednesday_548',
 'tuesday_573',
 'thursday_627',
 'thursday_282',
 'monday_255',
 'monday_99',
 'wednesday_1224',
 'tuesday_450',
 'tuesday_777',
 'thursday_32',
 'friday_1195',
 'wednesday_786',
 'wednesday_1392',
 'wednesday_934',
 'friday_1324',
 'tuesday_1285',
 'monday_718',
 'monday_888',
 'wednesday_1330',
 'monday_191',
 'tuesday_186',
 'monday_76',
 'monday_77',
 'tuesday_250',
 'friday_337',
 'wednesday_607',
 'monday_214',
 'tuesday_386',
 'friday_603',
 'thursday_359',
 'thursday_3',
 'wednesday_1035',
 'tuesday_1366',
 'monday_756',
 'tuesday_1153',
 'tuesday_1317',
 'monday_1099',
 'monday_574',
 'friday_1208',
 'wednesday_353',
 'wednesday_112',
 'friday_1346',
 'wednesday_1437',
 'tuesday_1223',
 'friday_257',
 'wednesday_784',
 'thursday_277',
 'monday_790',
 'wednesday_570',
 'thursday_506',
 'thursday_1070',
 'thursday_1063',
 'thursday_1482',
 'wednesday_269',
 'monday_603',
 'tuesday_532',
 'thursday_65',
 'wednesday_539',
 'monday_156',
 'friday_626',
 'wednesday_612',
 'wednesday_1095',
 'wednesday_1395',
 'monday_1201',
 'friday_300',
 'friday_999',
 'friday_662',
 'wednesday_284',
 'friday_926',
 'tuesday_561',
 'tuesday_1242',
 'friday_915',
 'thursday_175',
 'thursday_925',
 'friday_1222',
 'tuesday_390',
 'thursday_491',
 'thursday_844',
 'thursday_1186',
 'wednesday_1180',
 'tuesday_1232',
 'friday_605',
 'thursday_393',
 'monday_824',
 'friday_39',
 'wednesday_504',
 'monday_62',
 'tuesday_765',
 'wednesday_802',
 'friday_1330',
 'friday_15',
 'thursday_1002',
 'wednesday_567',
 'tuesday_29',
 'thursday_347',
 'friday_1022',
 'friday_1067',
 'tuesday_1322',
 'monday_566',
 'thursday_1272',
 'tuesday_1215',
 'tuesday_1131',
 'thursday_1095',
 'monday_341',
 'wednesday_1286',
 'monday_727',
 'tuesday_1374',
 'friday_975',
 'thursday_940',
 'monday_1198',
 'monday_548',
 'thursday_333',
 'monday_993',
 'wednesday_1026',
 'friday_1494',
 'thursday_1491',
 'wednesday_1472',
 'monday_1222',
 'tuesday_310',
 'thursday_1528',
 'monday_736',
 'wednesday_647',
 'wednesday_1139',
 'tuesday_1116',
 'friday_298',
 'wednesday_929',
 'wednesday_1080',
 'wednesday_588',
 'wednesday_1487',
 'tuesday_1229',
 'thursday_60',
 'monday_725',
 'tuesday_1032',
 'wednesday_1013',
 'tuesday_1340',
 'thursday_543',
 'tuesday_360',
 'wednesday_101',
 'tuesday_541',
 'monday_320',
 'tuesday_22',
 'friday_1325',
 'wednesday_1446',
 'tuesday_1080',
 'friday_729',
 'monday_1348',
 'thursday_1461',
 'friday_160',
 'thursday_1129',
 'monday_27',
 'tuesday_628',
 'monday_777',
 'friday_163',
 'wednesday_575',
 'monday_1424',
 'wednesday_550',
 'tuesday_653',
 'wednesday_356',
 'tuesday_1192',
 'wednesday_1203',
 'thursday_781',
 'wednesday_810',
 'friday_362',
 'monday_1019',
 'tuesday_1356',
 'monday_1062',
 'wednesday_49',
 'thursday_1090',
 'thursday_655',
 'tuesday_339',
 'thursday_1289',
 'tuesday_818',
 'tuesday_1311',
 'monday_1097',
 'wednesday_1082',
 'thursday_34',
 'thursday_714',
 'monday_1296',
 'monday_802',
 'wednesday_1326',
 'thursday_352',
 'friday_993',
 'wednesday_1236',
 'thursday_624',
 'wednesday_1140',
 'tuesday_848',
 'wednesday_1165',
 'friday_496',
 'thursday_1176',
 'friday_1068',
 'wednesday_67',
 'friday_456',
 'thursday_597',
 'friday_1174',
 'friday_1159',
 'monday_274',
 'wednesday_544',
 'tuesday_660',
 'monday_1080',
 'thursday_548',
 'thursday_1296',
 'thursday_1101',
 'wednesday_378',
 'monday_1252',
 'wednesday_737',
 'monday_1368',
 'thursday_1232',
 'monday_1290',
 'friday_474',
 'monday_207',
 'thursday_628',
 'thursday_851',
 'wednesday_399',
 'monday_846',
 'thursday_1369',
 'tuesday_1124',
 'thursday_778',
 'wednesday_1063',
 'tuesday_127',
 'thursday_541',
 'friday_1038',
 'thursday_130',
 'monday_1306',
 'friday_666',
 'tuesday_1199',
 'friday_1092',
 'friday_1344',
 'wednesday_1478',
 'monday_137',
 'thursday_1194',
 'thursday_776',
 'friday_541',
 'monday_1335',
 'friday_1179',
 'monday_403',
 'wednesday_333',
 'wednesday_644',
 'thursday_558',
 'wednesday_1157',
 'tuesday_426',
 'friday_912',
 'wednesday_212',
 'monday_59',
 'friday_835',
 'friday_804',
 'monday_743',
 'tuesday_123',
 'wednesday_677',
 'thursday_1132',
 'thursday_1419',
 'friday_1257',
 'tuesday_299',
 'wednesday_557',
 'tuesday_588',
 'wednesday_1188',
 'wednesday_608',
 'wednesday_528',
 'thursday_585',
 'thursday_1030',
 'monday_115',
 'monday_459',
 'thursday_896',
 'monday_340',
 'wednesday_862',
 'thursday_209',
 'tuesday_729',
 'tuesday_413',
 'friday_277',
 'friday_1229',
 'friday_1003',
 'tuesday_497',
 'wednesday_741',
 'thursday_88',
 'thursday_918',
 'friday_1180',
 'tuesday_254',
 'monday_914',
 'tuesday_436',
 'friday_1032',
 'wednesday_310',
 'thursday_689',
 'friday_505',
 'thursday_590',
 'wednesday_1325',
 'thursday_1533',
 'tuesday_324',
 'tuesday_881',
 'friday_810',
 'monday_164',
 'wednesday_574',
 'wednesday_402',
 'tuesday_967',
 'tuesday_554',
 'wednesday_1296',
 'tuesday_668',
 'wednesday_536',
 'monday_516',
 'wednesday_151',
 'monday_335',
 'thursday_721',
 'wednesday_782',
 'tuesday_610',
 'wednesday_753',
 'friday_360',
 'friday_222',
 'monday_398',
 'monday_830',
 'tuesday_1082',
 'tuesday_607',
 'monday_426',
 'thursday_568',
 'friday_1246',
 'tuesday_584',
 'friday_955',
 'tuesday_429',
 'tuesday_128',
 'friday_763',
 'thursday_126',
 'tuesday_1255',
 'friday_1413',
 'monday_1113',
 'wednesday_540',
 'wednesday_1530',
 'monday_1024',
 'friday_324',
 'wednesday_1300',
 'tuesday_670',
 'tuesday_1415',
 'monday_276',
 'monday_357',
 'tuesday_24',
 'wednesday_1126',
 'monday_454',
 'friday_1321',
 'monday_1425',
 'tuesday_749',
 'monday_1228',
 'wednesday_1128',
 'friday_466',
 'monday_1086',
 'thursday_1130',
 'monday_794',
 'monday_1227',
 'thursday_121',
 'tuesday_864',
 'friday_20',
 'thursday_1429',
 'friday_1183',
 'friday_265',
 'wednesday_189',
 'tuesday_634',
 'tuesday_1397',
 'wednesday_319',
 'friday_1406',
 'friday_997',
 'monday_324',
 'tuesday_861',
 'tuesday_457',
 'friday_1390',
 'tuesday_913',
 'thursday_1325',
 'wednesday_686',
 'wednesday_330',
 'thursday_1473',
 'friday_639',
 'wednesday_178',
 'tuesday_185',
 'wednesday_692',
 'wednesday_964',
 'thursday_683',
 'tuesday_515',
 'monday_868',
 'monday_356',
 'monday_511',
 'thursday_201',
 'friday_311',
 'thursday_368',
 'thursday_1154',
 'tuesday_283',
 'monday_789',
 'friday_592',
 'thursday_973',
 'monday_260',
 'monday_1100',
 'tuesday_762',
 'friday_945',
 'thursday_895',
 'wednesday_882',
 'thursday_278',
 'thursday_749',
 'friday_389',
 'friday_301',
 'monday_1339',
 'monday_1428',
 'wednesday_923',
 'friday_196',
 'friday_433',
 'thursday_782',
 'monday_1373',
 'wednesday_166',
 'monday_909',
 'friday_242',
 'wednesday_1132',
 'thursday_644',
 'tuesday_784',
 'thursday_581',
 'wednesday_569',
 'friday_946',
 'monday_755',
 'monday_337',
 'friday_263',
 'wednesday_1271',
 'wednesday_53',
 'wednesday_487',
 'friday_670',
 'friday_179',
 'thursday_629',
 'monday_31',
 'monday_26',
 'friday_1400',
 'monday_19',
 'thursday_383',
 'friday_837',
 'tuesday_1111',
 'wednesday_571',
 'monday_1289',
 'tuesday_559',
 'thursday_248',
 'friday_1429',
 'tuesday_1260',
 'wednesday_1058',
 'thursday_1108',
 'tuesday_895',
 'wednesday_824',
 'wednesday_1411',
 'wednesday_826',
 'friday_214',
 'thursday_481',
 'tuesday_770',
 'tuesday_1065',
 'monday_79',
 'wednesday_342',
 'wednesday_416',
 'tuesday_938',
 'friday_1226',
 'friday_1188',
 'monday_835',
 'wednesday_1531',
 'thursday_441',
 'thursday_232',
 'monday_1279',
 'friday_948',
 'wednesday_883',
 'wednesday_1513',
 'tuesday_204',
 'wednesday_103',
 'thursday_1275',
 'thursday_1309',
 'monday_509',
 'tuesday_539',
 'friday_1086',
 'friday_1253',
 'monday_435',
 ...}

In [23]:
for i, day in enumerate(df.day):
    print(add_checkout(day, no_checkout_customers[i], date[i], weekdays[i]))

NameError: name 'date' is not defined

In [ ]:
df

In [ ]:
# df = df.groupby('customer_no').resample('1Min').ffill()
# df.head()

In [ ]:
# IF we want to reset index
#df.reset_index(level='timestamp', inplace= True)
#df.drop('customer_no', axis=1, inplace=True)

In [ ]:
#for day in days ?

In [ ]:
#add 'from' column and replace 
test['from'].replace({'checkout':'entry'}, inplace = True)

In [ ]:
pd.crosstab(test('from'), test('location'), normalize='index')